### 以下项都需要修改
## 国网登录信息
# 修改为自己的登录账号
PHONE_NUMBER="xxx" 
# 修改为自己的登录密码
PASSWORD="xxxx" 
# 排除指定用户ID，如果出现一些不想检测的ID或者有些充电、发电帐号、可以使用这个环境变量，如果有多个就用","分隔，","之间不要有空格
IGNORE_USER_ID=xxxxxxx,xxxxxxx,xxxxxxx

## 数据库配置
# DB_TYPE 数据储存类型 sqlite / mysql，默认为 NONE 不进行数据储存
DB_TYPE=NONE

# sqlite 数据库名，默认为 homeassistant.db
DB_NAME="homeassistant.db"

# mysql 的数据库配置
MYSQL_HOST="mysql.lan"
MYSQL_USER="user"
MYSQL_PASSWORD="password"
MYSQL_DATABASE="sgcc"
MYSQL_PORT=3306

# 数据库记录保留天数，默认 365 天（1年），设为 0 则永久保留
DATA_RETENTION_DAYS=365

# 每日用电量获取天数，支持 7 或 30（通过 radio 按钮切换即可）
DAILY_FETCH_DAYS=7

## homeassistant配置
# 改为你的localhost为你的homeassistant地址
HASS_URL="http://localhost:8123/" 
# homeassistant的长期令牌
HASS_TOKEN="eyxxxxx"

## selenium运行参数
# 登录方式: password / qrcode
# password: 使用账号密码登录（默认）
# qrcode: 直接扫码登录，测试时无需输入密码，打开后会弹出二维码
LOGIN_METHOD="password"
# 任务开始时间，24小时制，例如"07:00"则为每天早上7点执行，第一次启动程序如果时间晚于早上7点则会立即执行一次，每隔12小时执行一次。
JOB_START_TIME="07:00"
# 每次操作等待时间，推荐设定范围为[2,30]，该值表示每次点击网页后所要等待数据加载的时间
RETRY_WAIT_TIME_OFFSET_UNIT=15

## PUSH_TYPE 余额不足提醒方式 PUSHPLUS / URLPUSH ，默认为None不通知
PUSH_TYPE=None
# 余额提现阈值，通知类型PUSHPLUS / URLPUSH 都生效
BALANCE=5.0
# pushplus token 如果有多个就用","分隔，","之间不要有空格，单个就不要有","
PUSHPLUS_TOKEN=xxxxxxx,xxxxxxx,xxxxxxx

# url_push 地址 通知body {"user_id": user_id, "balance": balance}
PUSH_URL="http://push.lan/notify"

# 密码登录失败（登录次数过多等）的备选方案
LOGIN_FALLBACK='qrcode'
# 二维码的提交地址
PUSH_QRCODE_URL="http://push.lan/qrcode"

# 二维码扫描后的最多等待时间 = QR_CODE_LOGIN_WAIT_COUNT x QR_CODE_LOGIN_WAIT_TIME_INTERVAL_UNIT
# 二维码登录等待次数
QR_CODE_LOGIN_WAIT_COUNT=6
# 二维码登录等待间隔
QR_CODE_LOGIN_WAIT_TIME_INTERVAL_UNIT=10

## 日志级别（可选）
# LOG_LEVEL=INFO
# DEBUG_MODE=false
